 
 *{
    margin: 0;
    padding:0;
     
 }
 .nav{
  
    background-color: rgb(228, 221, 234);
 }
 .ul{
    list-style: none;
    padding: 10px 20px;
    max-width: 900px;
    background-color: rgb(205, 191, 191);
    margin:0 auto;
    display: flex;
    justify-content: center;
    
   
 }
 .ul > li >a  {
    padding: 10px 30px;
   
    border-right: 3px solid rgb(163, 152, 132);
 }

 .ul > li:last-child> a{
    border: none;
 }

 li > a {
    
    text-decoration: none;
    color:darkblue;
    font-size: 1.5rem;
 }
 .ul >li>a:hover{
    background-color: black;
    color:white;
 }
 h1{
    text-align: center;
    margin-top: 50px;
    color: goldenrod;
 }
 .section{
    margin-top: 100px;
    display: flex;
    gap:10px;

    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
     

 }
 .section >div{
    background-color: rgb(202, 205, 221);
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;

    
 }
 .section > div > *{
    padding:5px;
 }
 .section > div > h2{
    color: rgb(125, 44, 44);
 }
 .section > div > h3{
    color: rgb(64, 64, 167);
 }



 